body {
  cursor: url('/assets/img/Blue-Triangle-Gemstone-cursor.png') 0 0, auto;
}

a:hover {
  cursor: url('/assets/img/Purple-Gloving-Gems-cursor.png') 0 0, auto;
}

input, textarea {
  cursor: url('/assets/img/Red-Gloving-Gems-pointer.png') 0 0, auto;
}
