body {
    cursor: url('/assets/img/Blue-Triangle-Gemstone-cursor-32.png') 0 0, default;
}

a:hover {
    cursor: url('/assets/img/Purple-Gloving-Gems-cursor-32.png') 0 0, pointer;
}

input,
textarea {
    cursor: url('/assets/img/Red-Gloving-Gems-pointer-32.png') 0 0, text;
}
