table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #f0f6fc;
}

th, td {
    border: 1px solid #0B6DB7;
    padding: 5px;
    text-align: center;
    font-weight: normal;
}

th {
    background: #0B6DB7;
}

tr:nth-child(even) {
    background-color: #252526;
}
