table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px !important;
    color: #f0f6fc;
}

th, td {
    border: 1px solid #0B6DB7;
    text-align: center;
    padding: 5px !important;
}

th {
    background: #0B6DB7;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #252526;
}
