/* 공통 */
table {
    width: 100%;
    border-collapse: collapse;
    color: #f0f6fc;
}

th,
td {
    border: 1px solid #0B6DB7;
    padding: 5px !important;
    text-align: center;
    font-size: 14px !important;
}

.header-row {
    background: #0B6DB7 !important;
}

/* 개최지 */
.col-no {
    width: 15%;
}

.col-year {
    width: 15%;
}

.col-host {
    width: 70%;
}

/* 투표 결과 표 */
.col-Candidate-90 {
    width: 90%;
}

.col-Candidate-80 {
    width: 80%;
}

.col-Candidate-70 {
    width: 70%;
}

.col-Candidate-60 {
    width: 60%;
}

.col-Candidate-50 {
    width: 50%;
}

.col-Candidate-40 {
    width: 40%;
}

.col-Round-10 {
    width: 10%;
}

.col-Round-15 {
    width: 15%;
}

.col-Round-30 {
    width: 30%;
}

/* 수장 */
col-h&t {
    width: 85%;
}
