.korea-host {
    background: linear-gradient(135deg, #FF43A8, #BE5DFA, #776CFF, #4172F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.korea-host2 {
    background: linear-gradient(135deg, #FF43A8, #BE5DFA, #776CFF, #4172F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.korea-host2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(135deg, #FF43A8, #BE5DFA, #776CFF, #4172F2);
}

.foreign-host {
    background: linear-gradient(135deg, #9eff9e, #66ff66, #33cc33, #009900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.foreign-host1 {
    text-decoration: none;
    position: relative;
}

.foreign-host1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f0f6fc;
}

.foreign-host2 {
    background: linear-gradient(135deg, #9eff9e, #66ff66, #33cc33, #009900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.foreign-host2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(135deg, #9eff9e, #66ff66, #33cc33, #009900);
}
